<ion-view view-title="Companions">
  <ion-content class="companion">
    <div row="row responsive-sm">
      <img ng-src="img/logo.png" class="col col-offset-25" style="width: auto; height: 200px;">
      <div class="row">
        <a class="col-33 persona" ng-click="viewTraveller(traveller)" ng-repeat="traveller in travellers">
          <img src="img/companion.png">
          <h3>{{traveller.username}}</h3>
        </a>
      </div>
      <i class="icon ion-ios-plus-outline col-offset-75" ng-click="showSearchModal()"></i>
    </div>
  </ion-content>
</ion-view>
