<ion-modal-view>
  <ion-content class="search-modal">
    <div row="row responsive-sm">
      <i class="icon ion-ios-close-outline col" ng-click="hideModal('search')"></i>
      <h2 class="col col-offset-10">Search For Companions</h2>
      <div class="list list-inset">
        <div class="item item-icon-left">
          <i class="icon ion-search"></i>
          <input type="text" placeholder="Search" ng-change="searchUsers(keyword)" ng-model="keyword" ng-model-options='{ debounce: 500 }'>
        </div>
        <div class="item item-button-right" ng-repeat="user in users">
          {{ user.username }}
          <button class="button button-positive" ng-click="addCompanion(user.id)" ng-disabled="processing">
            <i class="icon ion-plus-round"></i>
          </button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
