body {
  font-family: 'Lora', serif;
}
.nav-bar-block, .bar {
  background-color: #30a9bc !important;
}
.scroll-content {
  background-image: url('../img/background-image.png');
}
.scroll {
  height: 100%;
}
#map {
  /*width: 60%;*/
  height: 300px;
  border-radius: 20px;
}
/* login and signup pages */
.auth-page form .item-stacked-label {
  border: none;
  text-align: center;
}
.auth-page form .input-label {
  margin-bottom: 20px;
  color: #777777;
}
.auth-page form .item-input input {
  text-align: center;
  border: none;
  background: transparent;
  color: white;
}
.auth-page form .button-positive {
  margin-top: 20px;
  background-color: #bb07f2;
  border-radius: 20px;
}
.auth-page .breaker {
  color: #777777;
  text-align: center;
  margin: 15px 0px;
}
.auth-page .breaker p {
  margin-top: 0px;
}
.auth-page .button-bar .button-positive {
  background-color: transparent;
  border: 1px solid #bb07f2;
  font-size: 12px;
  padding: 0px;
  margin: 0px;
  width: 50%;
}
.auth-page .button-bar .button-positive:nth-child(2) {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.auth-page .button-bar .button-positive:nth-child(3) {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
/* Dashboard */
.dashboard {
  text-align: center;
  color: white;
}
.dashboard h4 {
  color: white;
  margin: 0px;
}
.dashboard a {
  background-color: rgba(62, 61, 61, 0.41);
  text-decoration: none;
}
.dashboard a:first-child {
  border-right: 1px solid rgba(62, 61, 61, 0.5);
}
.dashboard a:nth-child(2) {
  border-right: 1px solid rgba(62, 61, 61, 0.5);
}
.dashboard a img {
  width: 100%;
  height: auto;
}
.dashboard a h3 {
  margin-top: 0px;
  color: white;
}
/* Companion page */
.companion .persona {
  text-align: center;
}
.companion .persona img {
  height: auto;
  width: 33%;
}
.companion .persona h3 {
  color: white;
  margin: 0px;
}
.companion i {
  color: white;
  font-size: 40px;
}
.companion .button {
  margin: 8px;
  font-size: 15px;
}
.companion h2 {
  text-align: center;
  color: white;
}
/* Search Modal */
.search-modal {
  color: white;
  font-size: 40px;
}
.search-modal h2 {
  color: white;
}
.search-modal .list-inset {
  background: transparent;
}
.search-modal .list-inset .item {
  background-color: transparent;
  border: 1px solid #bb07f2;
}
.search-modal .list-inset .item:first-child {
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.search-modal .list-inset .item:first-child i {
  color: darkgrey;
}
.search-modal .list-inset .item:first-child input {
  background-color: transparent;
  color: white;
  padding: 5px;
}
.search-modal .list-inset .item-button-right {
  color: white;
}
.search-modal .list-inset .item-button-right .button-positive {
  background-color: #bb07f2;
  border-radius: 40px;
}
/* View Traveller Modal */
.view-traveller .bar-header i {
  color: black;
  font-size: 35px;
}
.view-traveller img {
  width: 100%;
  height: auto;
}
.view-traveller .item {
  text-align: center;
}
/* Traveller Page */
.traveller img:first-child {
  width: 100%;
  height: auto;
}
.traveller img:nth-child(2) {
  position: absolute;
  left: 30px;
  top: 20px;
  height: 80px;
  width: auto;
}
.traveller .item {
  text-align: center;
}
.traveller .item-divider i {
  margin: 0px 5px;
  float: right;
}
/* Add trip modal */
.add-trip .bar-header i {
  color: black;
  font-size: 35px;
}
.add-trip form .item-stacked-label {
  border: none;
  text-align: center;
}
.add-trip form .input-label {
  /*margin-bottom: 20px;*/
  color: #777777;
}
.add-trip form .item-input input {
  text-align: center;
  border: none;
  background: transparent;
  color: white;
}
.add-trip form .button-positive {
  margin-top: 20px;
  background-color: #bb07f2;
  border-radius: 20px;
}